{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Neon Admin Panel">
    <meta name="author" content="">
    <title>MongoDB版本 - 价钱影响</title>
    <link rel="icon" href="/static/picture/mapview.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="/static/css/entypo.css">
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/neon-core.css">
    <link rel="stylesheet" href="/static/css/neon-theme.css">
    <link rel="stylesheet" href="/static/css/neon-forms.css">
    <link rel="stylesheet" href="/static/css/custom.css">

    <script src="/static/js/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
<style>
        .mongodb-badge {
            background-color: #4CAF50;
            color: white;
            padding: 2px 8px;
            border-radius: 4px;
            font-size: 12px;
            margin-left: 10px;
        }
    </style>
</head>
<body class="page-body" data-url="http://neon.dev">

<div class="page-container">
    <div class="sidebar-menu">
        <header class="logo-env">
            <div class="logo" style="text-align:center">
                <a href="/mongo/index/">
                    <h3 style="color: #fff;font-weight: bold;margin-top: 5px;">广州市租房数据分析 <span class="mongodb-badge">MongoDB</span></h3>

                </a>
            </div>
        </header>

        <div class="sidebar-user-info">

            <div class="sui-normal">
                <a href="#" class="user-link">
                    <img style="width:95%" src="/media/{{ useravatar|default:"user/avatar/default.png" }}" alt="" class="img-circle">

                    <span style="text-align:center;padding-top:209px">欢迎回来</span>
                    <strong style="text-align:center;margin-top:5px">{{ username }}</strong>
                </a>
            </div>

        </div>

        <ul id="main-menu" class="">
            <li class="opened active">
                <a href="/mongo/index/">
                    <i class="entypo-gauge"></i>
                    <span>首页</span>
                </a>
            </li>

            <li>
                <a href="/mongo/selfInfo/">
                    <i class="entypo-user"></i>
                    <span>个人中心</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="entypo-layout"></i>
                    <span>数据统计</span>
                </a>
                <ul>
                    <li>
                        <a href="/mongo/tableData">
                            <i class="icon-tasks"></i>
                            <span>数据总览</span>
                        </a>
                    </li>
                    <li>
                        <a href="/mongo/historyTableData/">
                            <i class="icon-star"></i>
                            <span>房源收藏</span>
                        </a>
                    </li>
              
                </ul>
            </li>
            <li class="opened active">
                <a href="#">
                    <i class="entypo-chart-bar"></i>
                    <span>可视化图表</span>
                </a>
                <ul>
                    <li>
                        <a href="/mongo/houseDistribute/">
                            <i class="entypo-light-down"></i>
                            <span>房源分布</span>
                        </a>
                    </li>
                  <li>
                        <a href="/mongo/typeincity/">
                            <i class="entypo-feather"></i>
                            <span>户型占比</span>
                        </a>
                    </li>
                    <li>
                        <a href="/mongo/housewordcloud/">
                            <i class="entypo-lamp"></i>
                            <span>词云汇总</span>
                        </a>
                    </li>
                    <li>
                        <a href="/mongo/housetyperank/">
                            <i class="entypo-graduation-cap"></i>
                            <span>类型级别</span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/mongo/servicemoney/">
                            <i class="entypo-network"></i>
                            <span>价钱影响</span>
                        </a>
                    </li>


                </ul>
            </li>
                        <li>
                <a href="/mongo/predict-all-prices/">
                    <i class="icon-bar-chart"></i>
                    <span>房价预测</span>
                </a>
            </li>
        </ul>

    </div>
    <div class="main-content">
        <div class="row">
            <!-- Raw Links -->
            <div style="display:flex;" class="col-md-12 hidden-xs">

                <ol class="breadcrumb bc-3">
                    <li>
                        <a href="#"><i class="entypo-home"></i>可视化图表</a>
                    </li>
                    <li class="active">
                        <strong>不同房源不同城市的均价</strong>
                    </li>
                </ol>
                <ul style="margin-left:auto" class="list-inline links-list pull-right">

                    <li class="sep"></li>
                    <li>
                        <a href="/mongo/logOut">
                            退出登录 <i class="entypo-logout right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <h2>房源优势的金额影响</h2>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">各房源类型在不同城市的均价情况</div>
                        <div class="panel-options">
                            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                            <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <div id="mainOne" style="width:100%;height:650px"></div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="main">
            Copyright &copy; 2025. Python租房房源数据可视化分析 - MongoDB版本 <a target="_blank"
                                                                   href="https://hz.lianjia.com/">链家网</a>
        </footer>
    </div>

</div>

<!-- Bottom Scripts -->
<script src="/static/js/main-gsap.js"></script>
<script src="/static/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/joinable.js"></script>
<script src="/static/js/resizeable.js"></script>
<script src="/static/js/fileinput.js"></script>
<script src="/static/js/neon-api.js"></script>
<script src="/static/js/neon-chat.js"></script>
<script src="/static/js/neon-custom.js"></script>
<script src="/static/js/neon-demo.js"></script>
<script src="/static/js/echarts.js"></script>
<script>
    var chartDom = document.getElementById('mainOne');
    var myChart = echarts.init(chartDom);
    var option;
// 面积与价格关系图表 - MongoDB版本
option = {
    title: {
        text: '面积与价格关系分析 - MongoDB版本',
        left: 'center',
        textStyle: {
            color: '#4CAF50',
            fontSize: 18,
            fontWeight: 'bold'
        }
    },
    tooltip: {
        trigger: 'axis',
        axisPointer: {
            type: 'shadow'
        },
        formatter: function(params) {
            return params[0].name + '<br/>' +
                   '平均价格: ¥' + params[0].value + '/月';
        }
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis: {
        type: 'category',
        data: {{ area_ranges|safe }},
        name: '面积区间',
        nameLocation: 'middle',
        nameGap: 30,
        axisLabel: {
            rotate: 45
        }
    },
    yAxis: {
        type: 'value',
        name: '平均价格(元/月)',
        nameLocation: 'middle',
        nameGap: 50
    },
    series: [
        {
            name: '平均价格',
            type: 'bar',
            data: {{ avg_prices|safe }},
            itemStyle: {
                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    {offset: 0, color: '#4CAF50'},
                    {offset: 1, color: '#2E7D32'}
                ])
            },
            label: {
                show: true,
                position: 'top',
                formatter: '¥{c}'
            }
        }
    ]
};

    option && myChart.setOption(option);
</script>
</body>
</html>